.mud-badge {
    border-radius: 9px !important;
    font-size: 17px !important;
    height: 18px !important;
    letter-spacing: 0 !important;
    min-width: 18px !important;
    padding: 4px 6px !important;
    pointer-events: auto !important;
    line-height: 1 !important;
    position: absolute !important;
    text-align: center !important;
    text-indent: 0 !important;
    top: auto !important;
    transition: .3scubic-bezier(.25,.8,.5,1) !important;
    white-space: nowrap !important;
}
    .mud-badge.mud-badge-top.right {
        background-color: lightskyblue !important;
        inset: auto auto calc(100% - 18px) calc(100% - 18px) !important;
    }
    .mud-badge.mud-badge-top.right {
        background-color: lightskyblue;
    }